<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
		
		<div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Messagerie</h4>
                    <p class="mb-0">gestion de la messagerie</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Tableau de bord</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Boite d'envoie</a></li>
                </ol>
            </div>
        </div>
		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="email-left-box px-0 mb-3">
							<div class="p-0">
								<a [routerLink]="['/espace-manager/email/send']" class="btn btn-primary btn-block">Ecrire</a>
							</div>
							<div class="mail-list mt-4">
								<a [routerLink]="['/espace-manager/email']" class="list-group-item active"><i
									class="fa fa font-18 align-middle mr-2"></i> Boite de reception </a>
								<a routerLink="/espace-manager/email/smail" class="list-group-item active">
									<i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Envoyés <span
									class="badge badge-danger text-white badge-sm float-right">{{messages?.length}}</span></a> 
								
								<a routerLink="/espace-manager/email" class="list-group-item">
									<i class="fa fa-star font-18 align-middle mr-2"></i>Reception 
									
								</a>
							
							</div>
							
							
						</div>
						<div class="email-right-box ml-0 ml-sm-4 ml-sm-0">
							<div role="toolbar" class="toolbar ml-1 ml-sm-0">
								<div class="btn-group mb-1 mr-3 ml-1">
									<div class="custom-control custom-checkbox pl-2">
										<input type="checkbox" class="custom-control-input" id="checkAll" (change)="checkUncheckAll($event)">
										<label class="custom-control-label" for="checkAll"></label>
									</div>
								</div>
								<div class="btn-group mb-1 mr-1">
									<button class="btn btn-primary light px-3" (click)="actualiser()" type="button"><i class="ti-reload"></i>
									</button>
								</div>
								<!-- <div class="btn-group mb-1" ngbDropdown>
									<button aria-expanded="false" ngbDropdownToggle class="btn btn-primary px-3 light dropdown-toggle" type="button">More <span
										class="caret"></span>
									</button>
									<div class="dropdown-menu" ngbDropdownMenu> <a href="javascript: void(0);" class="dropdown-item">Mark as Unread</a> <a href="javascript: void(0);" class="dropdown-item">Add to Tasks</a>
										<a href="javascript:void(0);" class="dropdown-item">Add Star</a> <a href="javascript: void(0);" class="dropdown-item">Mute</a>
									</div>
								</div> -->
							</div>
							<div class="email-list mt-3">
								<div class="message" *ngFor="let mes of messages ">
									<div>
										<div class="d-flex message-single">
											<div class="pl-1 align-self-center">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="checkbox2">
													<label class="custom-control-label" for="checkbox2"></label>
												</div>
											</div>
											<div class="ml-2">
												<button class="border-0 bg-transparent align-middle p-0"><i
												class="fa fa-star" aria-hidden="true"></i></button> 
											</div>
										</div>
										<a [routerLink]="['/espace-manager/email-read/',mes.id,mes.id]" class="col-mail col-mail-2">
											<div class="subject">{{mes.user.first_name }} : {{mes.email}}</div>
											<div class="date">{{mes?.createdAt | date : 'dd-MM-YYYY H:mm' }}</div>
										</a>
									</div>
								</div>
								
							
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
							</div>
							<!-- panel -->
							<!-- <div class="row mt-4">
								<div class="col-12 pl-3">
									<nav>
										<ul class="pagination pagination-gutter pagination-primary pagination-sm no-bg">
											<li class="page-item page-indicator"><a class="page-link" href="javascript:void()"><i class="la la-angle-left"></i></a></li>
											<li class="page-item "><a class="page-link" href="javascript:void()">1</a></li>
											<li class="page-item active"><a class="page-link" href="javascript:void()">2</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
											<li class="page-item page-indicator"><a class="page-link" href="javascript:void()"><i class="la la-angle-right"></i></a></li>
										</ul>
									</nav>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->