
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Gestion des litiges</h4>
					<div class="input-group search-area-2 mb-3 mr-auto d-inline-flex">
						<div class="input-group-append">
							<a href="javascript:void(0);" class="input-group-text"><i class="flaticon-381-search-2"></i></a>
						</div>
						<!-- <input type="text" class="form-control" placeholder="Que recherchez-vous ?"> -->
						<form [formGroup]="searchForm">
							<input type="text" placeholder="filtrer par auteur" formControlName="question" class="form-control" (keyup)="filterResults()">
						</form>
					</div>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Tableau de bord</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Litiges</a></li>
                </ol>
            </div> 
        </div>
		<div class="row">
			<div class="col-12" *ngIf="errorMessage;else elseBloc;">
				<div>
					<div class="card">
						<div class="card-body w-100">
							<span class="text-danger f-20"> {{errorMessage}} </span>
						</div>
					</div>
				</div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
			</div>
			<ng-template #elseBloc >
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive" *ngIf="litiges">
								<table class="table table-sm mb-0 table-responsive-lg text-black" >
									<thead>
										<tr>
											
											<th class="align-middle">Auteur</th>
                                            <th  class="align-middle">Commande</th>
											<th class="align-middle pr-7">Contrat</th>
											<th class="align-middle minw200">Objet</th>
											<th class="align-middle minw200">Motifs</th>
											<th class="align-middle text-right">date</th>
											<!--<th class="no-sort"></th>-->
										</tr>
									</thead>
									<tbody id="orders" *ngFor="let litige of filteredItems | paginate: { itemsPerPage: count, currentPage: page }">
										<tr class="btn-reveal-trigger">
										
                                           
											<td class="py-2">
												<a href="#">
													<strong class="text-black"><a routerLink="{{litige.id}}">#{{litige.id}}</a></strong></a> par  <strong class="text-black">
													
												{{litige.auteur.user.first_name}} {{litige.auteur.user.last_name}}</strong>
                                            </td>
                                            <td class="py-2">
                                                <a routerLink="/espace-manager/commandes/{{litige.commande.id}}">#{{litige.commande.id}}</a>
                                            </td>
                                            <td class="py-2">
                                                <a routerLink="/espace-manager/contrat/{{litige.contrat.id}}">#{{litige.contrat.id}}</a>
                                            </td>
                                            <td class="py-2">{{litige.objet}}</td>
                                            <td class="py-2">{{litige.motifs}}</td>
                                            
                                            <td class="py-2">
                                                <p class="mb-0 text-500">{{litige.dateCreated | date:"YYYY-MM-dd HH:mm:ss"}}</p>
                                            </td>
                                           
										
										</tr>
										
									</tbody>
								</table>
								<div fxFlex="100"> 
									<mat-card class="p-0 text-center">           
										<pagination-controls class="product-pagination"
										previousLabel="Précédent"
														nextLabel="Suivant"
										autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
									</mat-card>
								</div>
								<div >
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>