
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap mb-3">
            <div class="input-group search-area-2 mb-3 mr-auto d-inline-flex">
                <div class="input-group-append">
                    <a href="javascript:void(0);" class="input-group-text"><i class="flaticon-381-search-2"></i></a>
                </div>
                <form [formGroup]="searchForm">
                    <input type="text" placeholder="Who are you looking for ?" formControlName="nom" class="form-control" (keyup)="filterResults()">
                </form>
                
            </div>
            <span>List of service providers ({{prestataires.length}})</span>
            <!-- <mat-form-field appearance="fill" class="style-1 dashboard-select  mb-3">
              <mat-select value="Newest">
                <mat-option value="Newest">Nouvelles</mat-option>
                <mat-option value="Oldest">Anciennes</mat-option>
                <mat-option value="Latest">Dernières</mat-option>
              </mat-select>
            </mat-form-field> -->
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="table-responsive table-hover fs-14">
                    <table class="table display mb-4 dataTablesCard dataTable short-one  card-table text-black" id="example5">
                        <thead>
                            <tr>
                               
                                <th>image </th>
                                <th>name and first name</th>
                                <th>Shop title</th>
                                <th>Featured </th>
                                <th>Actions</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prestataire of filteredItems | paginate: { itemsPerPage: count, currentPage: page }">
                                <td class="pr-0">
                                        <img class="ic-icon" src="{{ (prestataire?.logo)?prestataire?.logo:'assets/images/avatars/avatar-6.png' }}" />
                                    
                                </td>
                                <td>{{prestataire?.custom?.first_name }} {{prestataire?.custom?.last_name }}</td>
                                <td>{{prestataire?.shop_title}}  </td>
                                
                                <td>{{(prestataire?.custom?.utilisateur.en_avant) ? 'True' : 'False' }}</td>
                                
                                <td class="wspace-no">
                                    
                                    <span class="text-black"><a class="btn btn-primary text-center" title="voir le profil" style="border-radius: 50%; height: 50px;" routerLink="/espace-manager/profiles/{{prestataire?.custom?.utilisateur.id}}"><i class="fa fa-eye text-center mt-1"></i>  </a></span>
                                    <span class="text-black" *ngIf="prestataire?.custom?.utilisateur.en_avant;else bloc"><a class="btn btn-danger ml-2" (click)="mettreEnAvant(prestataire?.custom?.utilisateur,0)" title="Enlever la mise en avant" alt="Mettre en avant" style="border-radius: 50%; height: 50px;"><i class="fa fa-star text-white text-center mt-1"></i></a></span>
                                   <ng-template #bloc><span class="text-black"><a class="btn btn-primary ml-2" (click)="mettreEnAvant(prestataire?.custom?.utilisateur,1)" title="Mettre en avant" alt="Mettre en avant" style="border-radius: 50%; height: 50px;"><i class="fa fa-star text-white text-center mt-1"></i></a></span></ng-template> 
                                    <span class="text-black" *ngIf="prestataire?.custom?.utilisateur.active;else blocN"> <a class="btn btn-secondary ml-2" (click)="desactiver(prestataire?.custom?.utilisateur,0)" title="Désactiver" alt="Désactiver le compte" style="border-radius: 50%; height: 50px;"><i class="fa fa-trash text-white text-center mt-1"></i></a></span>
                                    <ng-template #blocN><span class="text-black"><a class="btn btn-primary ml-2" (click)="desactiver(prestataire?.custom?.utilisateur,1)" title="Activer" alt="Activer" style="border-radius: 50%; height: 50px;"><i class="fa fa-star text-white text-center mt-1"></i></a></span></ng-template> 
                                </td>
                              
                            </tr>
                            
                            
                        
                        
                        </tbody>
                    </table>
                    <div *ngIf="prestataires.length > 0" fxLayout="row wrap">
                        <div fxFlex="100"> 
                            <mat-card class="p-0 text-center">           
                                <pagination-controls class="product-pagination" 
                                previousLabel="Précédent"
                                nextLabel="Suivant"
                                autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
                            </mat-card>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- <div class="d-flex justify-content-between p-2">
                        <ngb-pagination class="mr-3" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="updateTransactionListing()">
                        </ngb-pagination>
                        
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="updateTransactionListing()">
                            <option [ngValue]="5">5 prestataires par page</option>
                            <option [ngValue]="10">10 prestataires par page</option>
                            <option [ngValue]="20">20 prestataires par page</option>
                        </select>
                    </div> -->
                </div>	
            </div>
        </div>
    </div>
</div>
<!--**********************************
Content body end
***********************************-->
