<h1 mat-dialog-title>Daily Deal</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div fxLayout="row wrap">
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Date of deal</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dealy_deals_date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                   
                    <mat-error *ngIf="form.controls.dealy_deals_date.errors?.required">Date is required</mat-error> 
                </mat-form-field>
               
            </div> 
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Stock</mat-label>
                    <input type="number" matInput formControlName="dealy_deals_stock" required>
                    <mat-error *ngIf="form.controls.dealy_deals_stock.errors?.required">Name is required</mat-error> 
                </mat-form-field>
               
            </div> 
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput formControlName="dealy_deals_price" required>
                    <mat-error *ngIf="form.controls.dealy_deals_price.errors?.required">Price is required</mat-error> 
                </mat-form-field>
               
            </div> 
            
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product deal</mat-label>
                    <mat-select formControlName="product_id">
                        <mat-option *ngFor="let prod of data.products" [value]="prod.id">
                            <span>{{prod.my_product_flat.name}}</span>
                        </mat-option>
                    </mat-select> 
                </mat-form-field>
            </div> 
           
            
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div> 
    </div>
</form>