<div class="authincation h-100">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="https://markpedia.cm"><img src="assets/images/logom.png" alt="" width="150" height="80"></a>
                                </div>
                                <h4 class="text-center mb-4">Enter your Identifiers</h4>

                                <form [formGroup]="loginForm">
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Email</strong></label>
                                        <input type="email" class="form-control" formControlName="email" placeholder="example@gmail.com" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1"><strong>Password</strong></label>
                                        <input type="password" class="form-control" formControlName="password" required>
                                        
                                    </div>
                                    <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                        <div class="form-group">
                                           <div class="custom-control custom-checkbox ml-1">
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a [routerLink]="['/page-forgot-password']">Forgot your password</a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button  (click)="onSubmit()" class="btn btn-primary btn-block">Login</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>You do not have an account? <a class="text-primary" href="https://markpedia.cm/auth/signup">Create an account</a></p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>