<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
<div class="p-1">
    <div class="row">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Category List</h2> 
            <button mat-raised-button color="primary" (click)="openCategoryDialog(null)">Add Category</button>
        </div>
        <div class="col-sm-5">	
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            
        </div>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="hasSubCategory">
            <th mat-header-cell *matHeaderCellDef> Has SubCategory </th>
            <td mat-cell *matCellDef="let element">  <mat-icon class="text-muted">{{ (element.hasSubCategory) ? 'check_box' : 'check_box_outline_blank'}}</mat-icon> </td>
          </ng-container>
    
          <!-- Symbol Column -->
          <ng-container matColumnDef="parentId">
            <th mat-header-cell *matHeaderCellDef> Parent Category </th>
            <td mat-cell *matCellDef="let element"> {{element.parentId}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCategoryDialog(cat)">
                    <mat-icon>edit</mat-icon>
                </button> 
                <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(cat)">
                    <mat-icon>delete</mat-icon>
                </button>   
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <!-- <mat-card class="p-0"> 
        
        <mat-divider></mat-divider>
        
        <div class="mat-table admin-table">
            
            <div class="mat-header-row">
                <div class="mat-header-cell">Name</div>
                <div class="mat-header-cell">Has SubCategory</div> 
                <div class="mat-header-cell">Parent Category</div> 
                <div class="mat-header-cell"></div>
            </div>
            <div *ngFor="let cat of categories | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell">{{cat.name}}</div>
                <div class="mat-cell">
                    <mat-icon class="text-muted">{{ (cat.hasSubCategory) ? 'check_box' : 'check_box_outline_blank'}}</mat-icon> 
                </div>  
                <div class="mat-cell">
                    {{ ( categories | filterById : cat.parentId )?.name }}
                </div>   
                <div class="mat-cell">
                    <div class="p-1 actions">          
                        <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCategoryDialog(cat)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(cat)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card> -->

    <!-- <div *ngIf="categories.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div> -->
</div>

</div>
</div>