<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Banners Products </h2> 
            <button mat-raised-button color="primary" (click)="openCategoryDialog(null)">Add Banner</button>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell">Product Name</div>
                <div class="mat-header-cell">Image</div> 
                <div class="mat-header-cell">Size</div> 
                <div class="mat-header-cell">title</div> 
          
                <div class="mat-header-cell"></div>
            </div>
            <div *ngFor="let banner of banners | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell">{{banner?.product_id.my_product_flat?.name}}</div>
                <div class="mat-cell">
                  <img [src]="banner.image"  alt="">
                </div>  
                <div class="mat-cell">
                    {{ banner?.banner_type}}
                </div>
                <div class="mat-cell">
                    {{ banner?.title}}
                </div> 
                 
                <div class="mat-cell">
                    <div class="p-1 actions">          
                        <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCategoryDialog(banner)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <!-- <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(cat)">
                            <mat-icon>delete</mat-icon>
                        </button> -->
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>
 
    <div *ngIf="banners.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>

</div>
</div>