<div class="content-body">
	<div class="container-fluid">
<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Store Reviews</h2>   
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Image</td>
                        <td>Author</td>
                        <td>Comment</td>
                        <td>Rating</td>
                        <td>Store</td>
                        <td>Date</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let review of reviews | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                        <td><mat-icon [color]="(review.statusId == 1) ? 'primary' : 'warn'" [matTooltip]="( statuses | filterById : review.statusId )?.name">{{ (review.statusId == 1) ? 'check_circle' : 'access_time' }}</mat-icon></td>
                        <td><img [src]="review.image" alt="" width="50"></td>
                        <td>{{review.author}}</td>
                        <td>{{review.comment}}</td>
                        <td>
                            <app-rating [ratingsCount]="review?.ratingsCount" [ratingsValue]="review?.ratingsValue" [showText]="false" [direction]="'row'"></app-rating>
                        </td>
                        <td>
                            {{ ( stores | filterById : review.storeId )?.name }}
                        </td>
                        <td>
                            {{ review.date | date:"dd MMMM, yyyy 'at' HH:mm"}}
                        </td>
                        <td>
                            <button *ngIf="review.statusId == 1" mat-mini-fab color="primary" matTooltip="UnApprove" (click)="unApprove(review)">
                                <mat-icon>undo</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(review)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </mat-card>

    <div *ngIf="reviews.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>